@font-face {
  font-family: 'Norse';
  src: url('font_and_images/Norse.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Norse';
  src: url('font_and_images/Norsebold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

h1,
h1 em {
  font-family: 'Norse', sans-serif;
  font-weight: bold;
  /* usa Norsebold */
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #E8A838;
  font-weight: 900;
  text-decoration: none;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #2C3E50;
}

.box {
  width: 100%;
  height: 100%;
}



/*LEFT SIDE*/
.left {
  background-image: url(font_and_images/halie-west-25xggax4bSA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 35%;
}

.left .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.visual .back-color {
  background-color: rgba(27, 31, 25, 0.5);
  border-radius: 12px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.visual .logo {
  z-index: 1;
  object-fit: contain;
  width: 140px;
  max-width: 140px;
  padding: 0;
}

.left .credit {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-weight: 800;
  color: #f5f5f5;
}


.logo-text {
  font-family: 'Norse', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  letter-spacing: 4px;
  z-index: 1;
}

/*RIGTH SIDE*/

.right {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

.right header {
  margin-top: 30px;
  padding: 15px 50px;
}

.right header h1 {
  color: #ffffff;
}

.form-section {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.section-one,
.section-two {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quote {
  margin-bottom: 10px;
  max-width: 680px;
}

.form-container {
  padding: 15px 50px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px #00000042;
}

.signup-form .title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #2C3E50
}

.form-one {
  display: flex;
  flex-direction: column;
}

.form-one label {
  font-variant: small-caps;
  font-size: 15px;
  font-weight: bold;
}

.form-one input {
  border-color: #cfcfcf;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 10px;
  font-size: 15px;
}

.form-one input[type=text]:user-invalid {
  border-color: #c43d3d;
}

.form-one input[type=email]:user-invalid {
  border-color: #c43d3d;
}

.form-one input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-one input[type=number]:invalid {
  border-color: #c43d3d;
}

.form-one input[type=password]:user-invalid {
  border-color: #c43d3d;
}

.create-account {
  padding: 0px 50px;
  margin-bottom: 20px;
}

button {
  background-color: #d7da54;
  padding: 10px 30px;
  border-style: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 20px;
}

button:hover {
  background-color: #989943;
}

button:active {
  background-color: #595a29;
  color: #f5f5f5;
}

.login {
  color: #ffffff;
}

.required {
  color: #ffffff;
}